name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: configure
      run: |
        mkdir -p build
        cd build
        cmake ..
    
    - name: make
      run: make
