name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        libfranka-version: [0.9.2, 0.12.1]
    uses: ./.github/workflows/build_wheels.yml
    with:
      libfranka-version: ${{ matrix.libfranka-version }}

  publish:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Prepare
        run: |
          mkdir -p wheels

      - name: Get wheels
        uses: actions/download-artifact@master
        with:
          name: wheels
          path: wheels/

      - name: Unpack wheels
        run: |
          unzip wheels/libfranka_0-10-0_wheels.zip

      - name: Publish python package
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_TOKEN }}

      - name: Create release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          draft: false
          files: |
            LICENSE
            wheels/*.zip
